@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.car-container {
    background-image: url("https://assets.ccbp.in/frontend/intermediate-rwd/dream-car-bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align:right;
    align-items:flex-end;
    padding:20px;
}

.heading {
    color: white;
    font-size: 30px;
}

.car-content{
    width: 50%;
}

.paragraph {
    font-size: 12px;
    color: white;
}

.speed-image {
    height: 80px;
    width: 80px;
}